version: "3.9"

services:
  redis:
    image: redis:7
    container_name: gas-redis
    ports:
      - "6379:6379"
    restart: always

  api:
    build: .
    container_name: gas-api
    ports:
      - "8000:8000"
    environment:
      REDIS_URL: redis://redis:6379
    depends_on:
      - redis
    restart: always
